

    <div class="container_2">
      <div class="container2_1">
        <div class="newsletter">
          <p>SUBSCRIBE TO OUR NEWSLETTER</p>
          <form id="form-subscribe" [formGroup]="subscribe" (submit)="checkSubscription(); $event.preventDefault()">
          <input id="subscribe_input"
          #emailInput
          type="email"
          formControlName="email" [class.invalid-input]="isEmailInvalid"
          placeholder="Email"
          name="email"
          ngModel />
        <button type="submit" [disabled]="subscribe.invalid" class="subscribe">Subscribe</button>
      </form>
        </div>
        <div class="others">
          <div class="others1">
            <p>HELP</p>


              <a routerLink="/faq-page"> <p>Frequently asked questions</p></a>

            <p>My order status</p>
            <p>How to return items</p>
            <p>Processing a return</p>
            <p>Delivery</p>
          </div>
          <div class="others2">
            <p>BUSSINES</p>
            <p>About us</p>
            <p>Store locator</p>
            <p>Franchise</p>
            <p>Work with us</p>
          </div>
        </div>
      </div>
      <div class="container2_2">
        <img id="logojos" src="/assets/Mango_(retailer)-Logo.wine.svg" />

        <div class="socialmediadiv">
          <img class="socialmedia" src="/assets/facebook.png" />
          <p class="smp">Facebook</p>
        </div>
        <div class="socialmediadiv">
          <img class="socialmedia" src="/assets/instagram.png" />
          <p class="smp">Instagram</p>
        </div>
        <div class="socialmediadiv">
          <img class="socialmedia" src="/assets/youtube.png" />
          <p class="smp">Youtube</p>
        </div>
        <div class="socialmediadiv">
          <img class="socialmedia" src="/assets/twitter.png" />
          <p class="smp">Twitter</p>
        </div>
        <div class="socialmediadiv">
          <img class="socialmedia" src="/assets/pinterest.png" />
          <p class="smp">Pinterest</p>
        </div>
      </div>
    </div>
    <footer>
      <p style="margin: 0 0">Copyright 2024 All Rights Reserved</p>
    </footer>


