#logoimg {
  height: 50px;
  width: 250px;
  padding-right: 600px;
}

#searchicon {
  height: 17px;
}

#usericon {
  height: 20px;
}



.button1 a:link,
.buttonaccess a:link {
  text-decoration: none;
}

.button1:hover,
.button2:hover,
.subscribe:hover,
#closeDialog:hover,
#openDialog:hover, #shopping-bagicon:hover {
  transform: scale(1.04);
}

#openDialog {
  border-style: none;
  background-color: transparent;
  padding: 0px 0px;
}

#closeDialog {
  margin-top: 50px;
  margin-left: 150px;
  height: 30px;
  width: 80px;
  background-color: rgb(230, 31, 31);
  color: white;
  border-radius: 5px;
  border: 5px solid rgb(230, 31, 31);
}

#shopping-bagicon {
  height: 21px;
}

input {
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.container_1 {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
  background-color: white;
}

.sub_container1_2 {
  height: 25px;
  display: flex;
}

#search:focus {
  outline: none;
  border-bottom: 2px solid;
}

.container {
  display: flex;

  gap: 120px; /* Space between items */
  width: 70vw;
}

.container-ngfor {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.container-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 40px; /* Space between items */
  row-gap: 70px;
  width: 70vw;
}

.container_menu {
  width: 90px;
  height: 302.4px;
  padding-left: 100px;

  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.container_menu a:link,
a:visited {
  color: black;
}

#new {
  color: rgb(124, 91, 194);
}

.container_products {
  display: flex;
  /*padding-left: 100px;*/
  padding-left: 300px;
  width: 1400px;
  justify-content: space-between;
}

.images:hover {
  transform: scale(1.03);
}

.container_products2 {
  display: flex;
  /*padding-left: 100px;*/
  padding-left: 300px;
  padding-top: 50px;
  width: 1400px;

  justify-content: space-between;
}

.images {
  width: 350.96px;
  height: 300px;
  overflow: hidden;
}

.like {
  height: 24px;
}

.like2 {
  height: 24px;
}

.heart {
  width: 28px;
  height: 28px;
  border-style: none;
  background-color: transparent;
  padding: 0px 0px;
  display: inline-block;
}

.heart_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  border-style: none;
  background-color: transparent;
  padding: 0px 0px;
  display: none;
}

.addtobag {
  height: 27px;
}

.price_row {
  display: flex;
  /*padding-left: 390px;*/
  margin-left: 385px;
  justify-content: space-between;
  width: 1120px;
}

#price {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 400px;
}

#price p {
  padding: 5px 5px;
  border: 1.5px solid #000;
  border-radius: 9px;
}

.load-more-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.load-more {
  height: 30px;
  width: 100px;
  background-color: var(--primary-color);
  color: var(--newsletter-button);
  border-radius: 5px;
  border: 5px solid var(--primary-color);
}

.load-more:hover {
  transform: scale(1.03);
}




@media (max-width: 1100px) {

  .container {

    gap:80px;
    width: 100vw;

  }

  .container_1 {

    width: 90vw;
    justify-content: space-between;
    padding-left: 20px;

  }

  .sub_container1_1 {

    width: 10vw;
  }

  .container_menu {

    padding-left: 60px;
  }

  .container-photos {

    display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 items per row */
  gap: 40px; /* Space between items */
  row-gap: 70px;
  width: 70vw;
  }
}



@media (max-width: 700px) {

#logoimg {

  width:200px;
}

.container {

  gap: 130px;
}

.container-photos {

  display: grid;
grid-template-columns: repeat(1, 1fr); /* 3 items per row */
gap: 40px; /* Space between items */
row-gap: 70px;
width: 70vw;
}


}










@media only screen and (max-width: 1900px) {
  .container_products {
    padding-left: 100px;
  }

  .container_products2 {
    padding-left: 100px;
  }
}

@media only screen and (min-width: 1900px) {
  .price_row {
    margin-left: 585px;
  }
}
