<div class="container">
<div id="popUp">
  <div class="login">
    <form id="form_new_page">
      <div class="login_inputs">
        <label> Email address:</label>
        <input required type="text" name="name" />

        <br /><br /><br />
        <label> Password: </label>
        <input required type="password" name="password" />
      </div>

      <div class="login_buttons">
        <button type="submit" class="button1">Log in</button>

        <button type="submit" class="button2">Sign up</button>
      </div>
    </form>
  </div>
  <button (click)="closeDialog()" id="closeDialog">Close</button>
</div>
</div>
