<div class="container">
<div id="popUp">
  <div class="login">
    <form id="form_new_page" [formGroup]="login">
      <div class="login_inputs">
        <label for="email"> Email address:</label>
        <input required type="text" formControlName="email" name="email" ngModel />

        <br /><br /><br />
        <label for="password"> Password: </label>
        <input required type="password" formControlName="password" name="password" ngModel/>
      </div>

      <div class="login_buttons">
        <button type="submit" class="button1" (click)="onLoginSubmit()" [disabled]="login.invalid">Log in</button>
        <button type="submit" class="button2" (click)="onSignupSubmit()" [disabled]="login.invalid">Sign up</button>

      </div>
    </form>
  </div>
  <button (click)="closeDialog()" id="closeDialog">Close</button>
</div>
</div>
