<div class="container">
<div id="popUp">
  <div class="login">
    <form id="form_new_page" [formGroup]="login">
      <div class="login_inputs">
        <label for="email"> Email address:</label>
        <input required type="text" formControlName="email" [class.invalid-input]="isEmailInvalid"  name="email" ngModel />

        <br /><br /><br />
        <label for="password"> Password: </label>
        <input required type="password" formControlName="password" [class.invalid-input]="isPasswordInvalid"  name="password" ngModel/>
      </div>

      <div class="login_buttons">
        <button type="submit" class="button1" (click)="onLoginSubmit()" [disabled]="login.invalid">Log in</button>
        <button type="submit" class="button2" (click)="onSignupSubmit()" [disabled]="login.invalid">Sign up</button>

      </div>
      <div class="login_google">
        <button class="button3" (click)="loginWithGoogle()"><img class="google" src="/assets/social.png" />Log in with Google</button>
</div>
    </form>
  </div>
  <button (click)="closeDialog()" id="closeDialog">Close</button>
</div>
</div>
