<div class="container_1">
  <div class="sub_container1_1">
    <img
      routerLink="/home-page"
      src="/assets/Mango_(retailer)-Logo.wine.svg"
      id="logoimg"
      alt="logoimg"
    />
  </div>
  <div class="sub_container1_2">
    <img src="/assets/searchicon.svg" id="searchicon" alt="searchicon" />

    <input
      id="search"
      type="text"
      placeholder="SEARCH"
      (input)="onSearchChange($event)"
    />
    <button (click)="openDialog()" id="openDialog">
      <img src="/assets/usericon.svg" id="usericon" alt="usericon" />
    </button>

    <button (click)="openBag()" id="openBag">
      <img
        src="/assets/shopping-bagicon.png"
        id="shopping-bagicon"
        alt="shopping-bagicon"
      />
    </button>
  </div>
</div>

<div class="container">
  <div class="container_menu">
    <p id="new">New</p>

    <a routerLink="/sales-page"><p>Sales</p></a>
    <a routerLink="/clothing-page"><p>Clothing</p></a>
    <p><a href="shoes.php">Shoes</a></p>
    <p><a href="bags.php">Bags</a></p>
    <p><a href="accessories.php">Accessories</a></p>
  </div>

  <div class="container-ngfor">
    <!-- Loop through each group of displayed items -->
    <div
      *ngFor="let newItems of displayedGroups"
      class="container-photos-ngfor"
    >
      <div class="container-photos">
        <!-- Loop through items in each group (9 items per group) -->
        <div *ngFor="let new of newItems" class="images">
          <div *ngIf="new.ClothingID">
            <img
              [src]="'/assets/' + new.ClothingID.Photo"
              [alt]="new.ClothingID.Name"
              style="height: 300px"
            />
            <div class="itemButtons">
              <div id="price"><img src="assets/heart.png" alt="heart-icon" class="heart" /> </div>

              <div id="price">
                <p>Price ${{ new.ClothingID.Price }}</p>
              </div>

              <div id="price"><img src="assets/add-to-cart.png" alt="add-to-cart-icon" class="addtobag" /></div>
            </div>
          </div>
          <div *ngIf="new.ShoesID">
            <img
              [src]="'/assets/' + new.ShoesID.Photo"
              [alt]="new.ShoesID.Name"
              style="height: 300px"
            />
            <div class="itemButtons">
              <div id="price"><img src="assets/heart.png" alt="heart-icon" class="heart" /> </div>
            <div id="price">
              <p>Price ${{ new.ShoesID.Price }}</p>
            </div>

            <div id="price"><img src="assets/add-to-cart.png" alt="add-to-cart-icon" class="addtobag" /></div>
          </div>
          </div>

          <div *ngIf="new.BagsID">
            <img
              [src]="'/assets/' + new.BagsID.Photo"
              [alt]="new.BagsID.Name"
              style="height: 300px"
            />
            <div class="itemButtons">
              <div id="price"><img src="assets/heart.png" alt="heart-icon" class="heart" /> </div>
            <div id="price">
              <p>Price ${{ new.BagsID.Price }}</p>
            </div>
            <div id="price"><img src="assets/add-to-cart.png" alt="add-to-cart-icon" class="addtobag" /></div>
          </div>
          </div>

          <div *ngIf="new.AccessoriesID">
            <img
              [src]="'/assets/' + new.AccessoriesID.Photo"
              [alt]="new.AccessoriesID.Name"
              style="height: 300px"
            />
            <div class="itemButtons">
              <div id="price"><img src="assets/heart.png" alt="heart-icon" class="heart" /> </div>
            <div id="price">
              <p>Price ${{ new.AccessoriesID.Price }}</p>
            </div>
            <div id="price"><img src="assets/add-to-cart.png" alt="add-to-cart-icon" class="addtobag" /></div>
          </div>
          </div>

          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="load-more-container">
  <button
    (click)="loadMoreItems()"
    *ngIf="currentIndex < filteredItems.length"
    class="load-more"
  >
    Load More
  </button>
</div>

<router-outlet></router-outlet>
