.access {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  color: var(--acces-without-account);
}

.container_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*background-color: white;*/
  background-color: transparent;
}

.buttonaccess {
  height: 35px;
  width: 280px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  border: 5px solid var(--primary-color);
}

.buttonaccess p {
  margin: 0px 0px;
  color: var(--access-without-account);
}

.buttonaccess:hover {
  transform: scale(1.04);
}

.sub_container1_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 800px;
  background-color: transparent;
}

#logo {
  height: 200px;
}

#random {
  height: 300px;
}

.sub_container1_2 {
  padding-top: 50px;
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.login {
  height: 400px;
  width: 400px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #d7d7d7;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px, rgba(0, 0, 0, 0.14) 0px 2px 6px,
    rgba(0, 0, 0, 0.04) 0px 0px 1px;
  border-radius: 10px;
}

.login_inputs {
  margin-top: 50px;
  margin-left: 65px;
}

.login_inputs label {
  font-size: 20px;
}

.invalid-input {

  border: 2px solid rgb(230, 31, 31) !important;

}

.login_inputs input {
  width: 250px;
  height: 20px;
  border-color: #c4bebe;
  border-style: solid;
  border-radius: 3px;
}

.login_buttons {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-left: -15px;
}

.login_buttons button {
  height: 30px;
  width: 100px;
  background-color: rgb(124, 91, 194);
  color: white;
  border-radius: 5px;
  border: 5px solid rgb(124, 91, 194);
}

.button1 {
  margin-right: 30px;
}

.button1 a:link,
.buttonaccess a:link {
  text-decoration: none;
}

.button1:hover,
.button2:hover,
.subscribe:hover {
  transform: scale(1.04);
}

// gallery

button {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all 0.3s ease-in-out;
}

.container_artgallery {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: white;*/
  background-color: transparent;
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  max-width: 950px;
  width: 450px;

  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  /*background = none;*/
  cursor: pointer;
}

.next-btn {
  cursor: pointer;
}

.item {
  scroll-snap-align: center;

  height: 300px;
  background-color: deeppink;
  border-radius: 8px;
}

//

@media (max-width: 980px) {
  .container_1 {
    flex-direction: column;
    align-items: center;
  }
}

//

@media (max-width: 550px) {
  .sub_container1_1 {
    height: 200px;
  }

  .sub_container1_2 {
    height: 300px;
  }

  .container_artgallery {
    display: none;
  }

  .login {
    width: 70vw;
  }
}

//

@media (max-width: 545px) {
  .login_inputs input {
    display: flex;
    flex-direction: column;
    width: 45vw;
  }

  .login_buttons {
    margin-left: 0px;
  }
}

//

@media (max-width: 510px) {
  .login_inputs {
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .login_buttons {
    margin-top: 50px;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .button1 {
    margin-right: 0px;
  }

  #logo {
    width: 60vw;
    height: auto;
  }

  br:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 410px) {
  .login_inputs label {
    font-size: 18px;
  }

  br:nth-of-type(1) {
    display: none;
  }

  .login {
    height: 370px;
  }
}
