

.alert {
  height: 160px;

  background-color: rgb(255, 255, 255);

  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.submessage {

  display: flex;
  justify-content: center;
}

.alert p {
padding-top: 15px;
  font-size: 24px;
}

.alert button {
  margin-left: 200px;
  margin-top: 20px;
  height: 30px;
  width: 100px;
  background-color: rgb(124, 91, 194);
  color: white;
  border-radius: 5px;
  border: 5px solid rgb(124, 91, 194);
}

.alert button:hover {
  transform: scale(1.04);
}

::backdrop {
  background-color: rgb(153, 142, 179);
  opacity: 0.5;
}
